<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/index.css">
    <title>Ruby Go</title>
</head>
<body>
    <header class="wrapper">
        <nav>
            <ul>
                <li class="selected">
                    <a href="">POSTS</a>
                </li>
                <li>
                    <a href="">ABOUT</a>
                </li>
            </ul>
            
            
        </nav>
        <div class="head-box">

            <img class="header-img-small" src="https://camo.githubusercontent.com/fb369e3a940701ea56e03aa4dacd7385d141734c3d97258234c4fb84256468d9/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f67682f64657669636f6e732f64657669636f6e2f69636f6e732f727562792f727562792d6f726967696e616c2e737667" alt="">

            <div class="head-box-txt justify-center">
                <p>Become a</p>
                <h1 class="colorized-text">Ruby Developer</h1>
            </div>
        </div>

    </header>


</body>
</html>